.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border: 0.2rem solid var(--color-accent-orange);
    border-radius: 0.4rem;
}

.question_header {
    padding: 1rem;
    flex: 1;
    width: calc(100% - 2rem);

    border: 0.2rem solid var(--color-accent-orange);
    border-radius: 0.4rem;

    span {
        display: inline-block;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        border-radius: 0.4rem;
    }
}

.answers {
    flex: 1;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;

    li {
        padding: 1rem;
        border-radius: 0.4rem;
        width: 100%;
        margin: 0.5rem 0;
        border: 0.2rem solid var(--color-accent-orange);
    }

    li:hover {
        cursor: pointer;
    }
}

.hints {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    flex: 1;
    width: 100%;
    padding: 0 1rem;
    
    justify-content: center;
    
    li {
        border: 0.1rem solid #ff6a0033;
        /* border: 0.2rem solid var(--color-accent-orange); */
        text-align: center;
        border-radius: 0.4rem;
        margin: 0.5rem 0;
        padding: 0.5rem 0;
    }
}

.anwers li,
.confirmation,
.sketch {
    flex: 1;
    width: calc(100% - 2rem);
    margin: 1rem;
    padding: 1rem;
}

.answers li {
    transition-duration: 0.2s;
}

.selected {
    background-color: var(--color-accent-orange);

    color: var(--color-border-shadow);
    text-shadow: 0px 0px 0.125rem var(--color-border-shadow);
}

.confirmation {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}
