.header {
    width: 100%;
    background-color: var(--color-background-secondary);
    padding-top: 1.5rem;

    h1 {
        position: relative;
        text-align: center;
        font-size: 3.2rem;
        text-transform: uppercase;

        span {
            padding: 0 1rem;
            background-color: var(--color-background-secondary);
            position: relative;
            z-index: 20;
        }
    }
}

.middle_trace {
    position: absolute;
    margin: 2rem 0;
    height: 0.5rem;
    width: 70rem;
    border-radius: 9999px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-text-primary);
    z-index: 10;
}
