.form_container {
    border: 0.1rem solid var(--color-accent-orange);
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    margin: 2rem 0;

    margin-left: auto;
    margin-right: auto;

    max-width: 90rem;

    h2 {
        text-transform: uppercase;
        text-align: center;
    }
}

.form_section {
    width: 100%;
    display: grid;
    margin: 1rem 0;

    border: 0.1rem solid #ff6a0033;
    border-radius: 0.4rem;
    padding: 1rem;
}
